:root{
	--color1: #969696;
	--color2: #E5E5E5;	
	--color3: #1F2324;
	--color4: #1648A8;
	--color5: #FFFFFF;
	--color6: #FFD230;
	--color7: #477ADA;
	--color8: #F4BF00;
	--color9: #F3F3F3;
	--color10: #DBDBDB;
	--color11: #EAEFF8;
	--color12: #C4C4C4;
	--color13: #FFE4E4;
	--color14: #42516E;
	--color15: #E01C1C;
}